.btn-danger {
    width: 350px;
    height: 100px;
    text-align: center;
    font-size: 70px;
    size: 100px;
    margin-top: 300px;
    background-image: url("../img/flash.gif");
    border-radius: 10px;
}

body {
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}

#wrapper {
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.hide {
    border: 1px solid black;
    margin-top: 100px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    margin: 100px auto 50px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#startBtn {

    padding: 8px 30px;
    display: inline-block;
    background-color: blue;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    position: absolute;
    margin-top: 200px;
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 70px;;
}


#welcomeScreen {
    background: none;
    border: none;
}

#bodyPage2 {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.tdShow {
    font-size: 30px;
    border: 1px solid white;
    width: 500px
}
